/* globals.css */
.custom-input .p-inputtext {
  border-color: #6f6f72 !important;

}

/* login primary button when all fields are okay*/
.p-button-primary {
  background-color: #00308f;
  border-color: #00308f;
  color: white;
  padding: 1%;
}
.reset-btn{
  border: 1px solid #ccc;
}
.list-item{
  border-radius: 2px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #fff !important;
  
}
.factory-form-container{
  box-shadow: rgba(7, 1, 8, 0.07) 0px 2px 4px 0px, rgba(7, 1, 7, 0.20) 0px 2px 16px 0px !important;
}

/*login disabled button */
.p-button-secondary[disabled] {
  background-color: grey;
  border-color: grey;
  color: white;

  padding: 1%;
}

ul li {
  list-style: none;
}

.footer-container {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  box-shadow: rgba(229, 222, 222, 0.2) 0px 2px 8px 0px;
  height: 55px;
  zoom: 80%;
}

.alert-dialog {
  padding: 1rem;
  padding-top: 0;
}

.alerts-container p {
  margin: 0;
  /* margin-bottom: 4px; */
  font-size: 14px;
}

.pi-bell:before {
  content: "\e97c";
  color: #615e5e;
}

.p-badge {
  background: #007bff;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 0;
  line-height: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.p-badge.active {
  background: #d50202;
}