ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
  font-size: 1.2em;
}
.asset-heading{
  margin: 0.5rem 0 0;
  border-bottom: 2px solid #050583;
  padding: 0px 0px 5px 0px;
  color: #050583;
 margin-right: 3rem;
}

.selected {
  background-color: #e0e0e0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hr {
  color: black;
}
.filter-button {
  background-color: white ; 
  border: none;
}
.alert-type-text{
  color: #666666;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.alert-text{
  color: #606060;
}
.alert-time{
  color:  #212529;;
  margin-top: 5px;
}
.alert-btn{
  display: flex;
  justify-content: flex-end;
}
.alert-btn-text{
  font-size: 12px;
}
.data-container{
  flex: 0 1 90%;
    display: flex;
    justify-content: space-between;
}
.label-text{
  font-size: 11px !important;
  color: #a39999;
}