ul {
  list-style-type: none;
  padding-left: 0;
  border:"none"
}

li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
  font-size: 1.2em;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #6366f1;
}

.selected {
  background-color: #e0e0e0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hr {
  color: black;
}
.filter-button {
  background-color: white ; 
  border: none;
}
.alert-type-text{
  color: #666666;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.alert-text{
  color: #606060;
}
.alert-time{
  color:  #212529;;
  margin-top: 5px;
}
.alert-btn{
  display: flex;
  justify-content: flex-end;
}
.alert-btn-text{
  font-size: 12px;
}
.data-container{
  flex: 0 1 90%;
    display: flex;
    justify-content: space-between;
}
.label-text{
  font-size: 11px !important;
  color: #a39999;
}
@keyframes colorDip {
  0%, 100% {
    transform: translateY(-50%) scale(1);
    background-color: #164B60; /* Dark blue */
  }
  50% {
    transform: translateY(-50%) scale(0.8);
    background-color: #dce2e7; /* Light blue */
  }
}

/* styles.css or in your component's module.css file */
.p-button-light-grey {
    background-color: #cdc9c9; /* Light grey background */
    color: #333; /* Darker text for contrast */
    border-color: #ccc; /* Slightly darker border for definition */
    border: none;
}
