@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.dashboard-container,
.dashboard-assets,
.assets-table {
    font-family: "Inter", sans-serif !important;
}

/* .p-datatable .p-datatable-tbody >  tr.p-selectable-row.p-highlight {
    background: #ecfeff !important;
    color: #0e7490 !important;
} */
.selected-row {
    background: #ecfeff !important;
    color: #0e7490 !important;
}

.dashboard-container {
    padding-bottom: 2.5rem;
    zoom: 95%;
}

.dashboard-assets {
    min-height: 45rem;
    margin-top: 0.6rem;
    height: auto;
}

.dashboard-assets .p-datatable .p-paginator-bottom {
    left: 0;
    /* margin-top: 7rem; */
    position: absolute;
    /* bottom: 0; */
    top: 48rem;
    text-align: center;
    right: 0;
    padding: 0;
    zoom: 90%;
}

/* .factory-table th{
    display: none;
} */

.factory-table table {
    border: 1px solid #8a8282;
}

.factory-table tr td {
    border: 0.1px solid #8a828245;
}

.factory-urn-text {
    font-size: 13.2px;
    width: 150px;
}

.action-items-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 6px;
}

.factory-id-text {
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    background-color: #ffe0c7;
}

.card {
    background: #ffffff;
    border: 1px solid #dfe7ef;
    border-radius: 12px !important;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

.heading-text {
    font-size: 1.2rem;
    margin: 16px;
}

.relation-text {
    padding: 4px;
    font-size: 14px;
    padding-top: 4px;
}

.onboard-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.active-state {
    background-color: #9cfbbcf6;
}

.inactive-state {
    background-color: #ee0c0c42;
    ;
}

.active-icon.pi-shopping-cart:before {
    color: #24a034c4;
}

.inactive-icon.pi-shopping-cart:before {
    color: #ff0000;
}

.dashboard-card-container {
    gap: 1.2rem;
    justify-content: center;
    margin-top: 12rem;
}

.autorefresh-btn {
    margin-top: 0rem;
    position: fixed;
    top: 6.4rem;
    right: 0;
    left: 0;
    z-index: 1000;
    /* padding-right: 1rem; */
    background: #fff;
    width: 100%;
    padding-right: 3rem;
}

.dashboard-card {
    width: 450px;
}

.child-key-text {
    color: #3dd7e8;
}

.child-key-value {
    color: #7c7c7c;
    font-size: 14px;
    padding: 0;
}

.parent-key-text {
    color: #7d7d7d;
}

.finish-btn {
    display: flex;
    justify-content: flex-end;
}

.p-dialog .p-dialog-header {
    border-bottom: none;
    padding: 1rem 1.5rem;
}

.blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(12 11 11 / 74%);
}

.blocker-card {
    margin: 0 auto;
    width: 35%;
    margin-top: 9rem;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    /* Adjust based on your needs */
}

.autorefresh-text {
    margin-top: 3px;
    font-size: 15px;
}

.dialog-content-top {
    justify-content: flex-start;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.p-inputswitch .p-inputswitch-slider {
    background: #ced4da;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    border-radius: 15px;
}

.p-inputswitch .p-inputswitch-slider:before {
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    left: 0.25rem;
    margin-top: -0.625rem;
    border-radius: 50%;
    transition-duration: 0.15s;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #007bff !important;
}


.assets-table th {
    text-align: left;
    border: none;
    font-weight: 600;
    color: #212529;
    background: #c6b9e2;
    transition: box-shadow 0.15s;
    font-size: 16px;

}

@media screen and (min-width: 1550px) {

    .chart-content,
    .assets-content {
        width: 34.4%
    }

    .dashboard-card {
        width: 500px;
    }

    .dashboard-card-container {
        gap: 6rem;
    }
}

@media (min-width: 1200px) and (max-width: 1550px) {

    .chart-content,
    .assets-content {
        width: 43.4%
    }
}