@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.dashboard-container,
.dashboard-assets {
    font-family: "Inter", sans-serif !important;
}

.card {
    background: #ffffff;
    border: 1px solid #dfe7ef;
    border-radius: 12px !important;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

.heading-text {
    font-size: 1.2rem;
    margin: 16px;
}

.relation-text {
    padding: 4px;
    font-size: 14px;
    padding-top: 4px;
}

.active-state {
    background-color: #9cfbbcf6;
}

.inactive-state {
    background-color: #ee0c0c42;
    ;
}

.active-icon.pi-shopping-cart:before {
    color: #24a034c4;
}

.inactive-icon.pi-shopping-cart:before {
    color: #ff0000;
}

.dashboard-card-container {
    gap: 1.2rem;
    justify-content: center;
    margin-top: 5rem;
}

.dashboard-card {
    width: 450px;
}
.finish-btn{
    display: flex;
    justify-content: flex-end;
}
.p-dialog .p-dialog-header {
    border-bottom: none;
    padding: 0.5rem;
}
.blocker{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(12 11 11 / 74%);
}
.blocker-card{
    margin: 0 auto;
    width: 35%;
    margin-top: 9rem;
}
.loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%; /* Adjust based on your needs */
   }
.dialog-content-top {
    justify-content: flex-start;
 }
 .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1rem;
} 
textarea{
    resize: none;
}

@media screen and (min-width: 1550px){
    .chart-content,
    .assets-content{
        width: 34.4%
    }
    .dashboard-card {
        width: 500px;
    }
    .dashboard-card-container {
        gap: 6rem;
    }  
}

@media (min-width: 1200px) and (max-width: 1550px){
.chart-content,
.assets-content{
    width: 43.4%
}
}
