.card {
    background: #ffffff;
    border: 1px solid #dfe7ef;
    border-radius: 12px !important;
    padding: 1rem;
}

.heading-text {
    font-size: 1.2rem;
    margin: 16px;
}

.relation-text {
    padding: 4px;
    font-size: 14px;
    padding-top: 7px;
}

.active-state {
    background-color: #9cfbbbed; 
}

.inactive-state {
    background-color: #ee0c0c42;;
}

.active-icon {
    width: 25px;
    height: 25px;
    color: #166020de;
}

.inactive-icon {
    width: 25px;
    height: 25px;
    color: #ff0000;
}