.factory-shopfloor-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    border: 1px solid #000;
    height: 96vh;
    overflow:hidden;
}
.form-container{
    width: 90%;
    margin: 0 auto;
}
.input-container{
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}
.input-content{
    width: 90%;
}