.asset-overview-header {
  width: 100%;
  padding: 1rem 1;
  margin-left: -30px;
  margin-top: -20px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav_avatar {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
}

.nav_icon_button {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav_icon_button:hover {
  background-color: #f3f3f5;
}

.nav-breadcrumb {
  margin-top: 5px !important;
  padding: 0 !important;
  margin-left: 58px !important;
  font-family: "League Spartan";
}

.nav-header {
  margin-left: 65px !important;
  margin: 0;
  font-family: "League Spartan";
  margin-top: 0.7rem;
}

.current-page .p-menuitem-text {
  color: #2196f3 !important;
}