/* Dialog and Text Styles */
.dialog-class .p-dialog-title {
  padding-left: -2%;
}

.bold-text {
  font-weight: bold;
}


.react-flow__edge {
  z-index: 300;
}


.react-flow__handle {
  z-index: 500; 
}

/* Connection Indicator */
.connectionindicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0b0b0b;
  border: 2px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-left: -10px;
  z-index: 400; 
}

.react-flow__edge path {
  pointer-events: visibleStroke !important;
}

.react-flow__handle,
.react-flow__handle-top,
.react-flow__handle-bottom {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;          
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  pointer-events: auto !important; 
}


.flow-editor-container {
  flex: 1;
}


/* Layer Organization */
.react-flow__edges {
  z-index: 300; 
}
.react-flow__nodes {
  z-index: 500; 
  pointer-events: none  !important;
}


.react-flow__node {
  z-index: 500; 
  pointer-events: all !important;
  cursor: grab;
}

.react-flow__node:active {
  cursor: grabbing;
}

/* Viewport and Pane */
.react-flow__viewport {
  z-index: 0;
}

.react-flow__pane {
  z-index: 1;
  pointer-events: all;
}

/* Selection and Interaction States */
.react-flow__selection {
  z-index: 600;
}

.react-flow__nodesselection-rect {
  pointer-events: none;
  z-index: 2;
}

.react-flow__edge.selected {
  z-index: 501;
}



.react-flow__edge-textwrapper {
  z-index: 400;
  pointer-events: none;
}


.react-flow__nodes-selection {
  z-index: 2;
  pointer-events: none;
}

.react-flow__edges-selection {
  z-index: 2;
  pointer-events: none;
}

.react-flow__node-dragging {
  z-index: 1000;
}