/* YourCustomStyles.css */
.p-button.p-button-text {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--text-color);
}

.p-button.p-button-text:enabled:hover {
  background-color: transparent;
  color: var(--text-color-hover);
}

.p-checkbox .p-checkbox-box {
  background-color: transparent;
  border: 1px solid var(--text-color);
}

.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
  background-color: transparent;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background-color: transparent;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: var(--text-color);
}

.asset-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.asset-list li {}

:root {
  --text-color: #333;
  --text-color-hover: #555;
}

.child-heading {
  font-size: 21px;
  color: #25b9c9;
  letter-spacing: 0.3px;
  font-style: italic;
}

.parent-heading {
  font-size: 21px;
  color: #7d7d7d;
  letter-spacing: 0.3px;
  font-style: italic;
}

.parent-child-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet-point {
  width: 15px;
  height: 15px;
  background: #dda709ab;
  border-radius: 50%;
  border: 2px solid #000;
  margin-top: 0.4rem;
}
.child-bullet-point {
  width: 10px;
  height: 10px;
  background: #0acb3378;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 0.4rem;
}
.relation-dialog{
padding: 0 1rem 1rem 1rem !important;
}
.relation-container{
  border-bottom: 1px solid #f7f4f4;
  padding-bottom: 1rem;
}
/* margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; */