
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.asset-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

:root {
  --text-color: #333;
  --text-color-hover: #555;
}

.child-heading {
  font-size: 21px;
  color: #25b9c9;
  letter-spacing: 0.3px;
  font-style: italic;
  margin-top: 10px;
}

.parent-heading {
  font-size: 21px;
  color: #7d7d7d;
  letter-spacing: 0.3px;
  font-style: italic;
  margin-top: 10px;
}

.parent-child-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet-point {
  width: 15px;
  height: 15px;
  background: #dda709ab;
  border-radius: 50%;
  border: 2px solid #000;
  margin-top: 0.4rem;
}
.child-bullet-point {
  width: 10px;
  height: 10px;
  background: #0acb3378;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 0.4rem;
}
.relation-dialog{
padding: 0 1rem 1rem 1rem !important;
font-family: "League Spartan", sans-serif!important;
}
.dialog-heading-text{
  font-family: "League Spartan", sans-serif!important;  
}
.relation-container{
  border-bottom: 1px solid #f7f4f4;
  padding-bottom: 1rem;
}
