@keyframes colorDip {
  0%, 100% {
    transform: translateY(-50%) scale(1);
    background-color: #164B60; /* Dark blue */
  }
  50% {
    transform: translateY(-50%) scale(0.8);
    background-color: #dce2e7; /* Light blue */
  }
}


.large-button {
  padding: 12px 24px; /* Example padding, adjust as needed */
  font-size: 1em; /* Larger text */
}

.bold-button {
  font-size: 16px;
  padding: 10px 15px;
  min-width: 100px;
  font-weight: bold; /* Makes text bold */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.bold-button:hover {
  background-color: #cccccc; /* Lighter shade on hover, adjust color based on your design */
  color: #333333; /* Change text color on hover if needed */
}


.bold-button {
  font-size: 16px;
  padding: 10px 15px;
  min-width: 100px;
  font-weight: bold;
  position: relative; /* Position relative to allow absolute positioning of pseudo-elements */
  overflow: hidden; /* Ensures no overflow outside the button boundaries */
  transition: color 0.3s; /* Smooth transition for text color */
}

.bold-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(
    to right,
    green 50%,
    black 50% /* Creates a striped pattern */
  );
  background-size: 200% 100%; /* Prepares the background for animation */
  transition: all 0.3s ease-out;
  transform: translateX(-100%); /* Start from the left, hidden */
}

.bold-button:hover::after {
  transform: translateX(0%); /* Moves the stripe into view */
}

.bold-button:hover {
  color: #333; /* Optional: change text color on hover */
}
.card-full-height {
  height: 100vh; /* Full height of its parent container */
  display: flex;
  flex-direction: column;
}
