/* optional */
body {
  margin: 0;
  padding: 0;
}
/* optional */

.sidebar_wrapper {
  width: 263px;
  transition: width 300ms ease-in-out;
  overflow: hidden;
  border-right: 1px solid #e6e6e6;
  height: 100vh;
  font-family: "League Spartan";
  flex-shrink: 0;
  background-color: #fff;
}
.sidebar_wrapper.collapse {
  width: 70px;
}
.sidebar_close,
.sidebar_open {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 6px;
}
.sidebar_close:hover,
.sidebar_open:hover {
  background-color: #f3f3f5;
}
.sidebar_open {
  display: block;
  margin-top: 10px;
  position: absolute;
  left: 30px;
}
.sidebar_header {
  padding: 22px 15px 35px 15px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
.sidebar_logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  transition: all 300ms ease;
  margin-left: 1px;
}
.sidebar_logo_wrapper.collapse{
  overflow: hidden;
}
.sidebar_content {
  padding: 20px 15px;
  height: calc(100vh - 86px);
  overflow-y: auto;
}
.sidebar_link_wrapper {
  overflow: hidden;
  min-width:40px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar_navlink {
  border: none;
  min-width: 40px;
  padding: 11px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  white-space: nowrap;
  background-color: white;
  transition: background-color 100ms ease;
  user-select: none;
  margin-bottom: 3px;
}
.sidebar_navlink.is_active,
.sidebar_navlink:hover,
.sidebar_navlink:focus,
.sidebar_navlink:active {
  background-color: #f3f3f5;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.sidebar_navlink:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.sidebar_navlink_text {
  opacity: 1;
  transition: opacity 200ms ease;
}
.link_group_title {
  font-size: 14px;
  font-weight: 500;
  color: #95989a;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 200ms ease;
}

.sidebar_collapse_fade {
  opacity: 0;
}
.sidebar_content::-webkit-scrollbar {
  width: 4px;
}
.sidebar_content::-webkit-scrollbar-track {
  background-color: #f3f3f5;
}
.sidebar_content::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
}

/* pass quota styles */

.pass_quota_container {
  padding: 12px 12px;
  background-color: #f3f3f5;
  border-radius: 8px;
  margin: 25px 0px;
  width: 228px;
}
.pass_quota_container h3 {
  font-size: 17px;
  color: black;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 15px;
  margin-top: 8px;
}
.progress_bar_container {
  height: 8px;
  background-color: #e0e0df;
  border-radius: 25px;
  margin-bottom: 10px;
  overflow: hidden;
}
.progress_bar_fill {
  height: 100%;
  background-color: #68abe9;
  border-radius: inherit;
  transition: width 0.2s ease-in-out;
}
.progress_value {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0px;
}
.upgrade_text {
  margin-top: 10px;
  margin-bottom: 0px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}
.upgrade_text:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* additional styles */
.main_content_wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.navbar_wrapper {
  position: sticky;
  border-bottom: 1px solid #e6e6e6;
  top: 5px;
  left: 0;
  right: 0;
  height: 72px;
  padding-top: 16px;
}
.nav_avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #2b2b2b;
  border-radius: 100px;
  padding-top: 3px;
  cursor: pointer;
}
/* styles related to settings dialog */
.nav-list {
  margin: 0;
  padding: 0;
}
.nav-list li {
  color: var(--black-primary);
  font-family: "League Spartan";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  padding: 8px 11px 8px !important;
}
.nav-list li:hover,
.sidebar-dashboard-item:hover {
  border-radius: 8px;
  background-color: var(--grey-box);
  cursor: pointer;
}
.nav-heading {
  color: var(--grey-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

/* hover effect on filter, sort buttons  */
.hover_state_group {
  background-color: white;
  padding: 3px 2px 3px 11px;
  border-radius: 8px;
  transition: background-color 100ms ease;
}
.hover_state_group.flex_align_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover_state_group:hover {
  background-color: #f3f3f5;
}
.hover_state_group .p-dropdown {
  background-color: transparent;
}
.black_button_hover,
.grey_button_hover {
  transition: background-color 100ms ease;
}
.black_button_hover:hover {
  background-color: #3c3c3c;
}
.grey_button_hover:hover {
  background-color: #dadada;
}
.p-tooltip{
  font-family: "League Spartan";
}

.overflow_y_auto{
  overflow-y: auto;
  height: 100%;
  padding-bottom: 40px;
}