.p-badge.sync-pdt-count {
    padding: 0 6px !important;
    width: max-content !important;
    min-width: max-content !important;
    height: 17px !important;
    border-radius: 50px !important;
    font-size: 10px !important;
}